* {
  background: #002f67;
  color: #fff;
  font-size: 16px;
}

#container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#container p {
  border: 1px dashed #73c04a;
  padding: 2em;
}

.inputText {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

#buttons {
  display: flex;
  justify-content: center;
  margin-top: 4px;
  text-align: center;
}

#buttons button {
  border: 2px solid #73c04a;
  width: 180px;
  padding: 0.9em;
  font-weight: bolder;
  border-radius: 4px;
}

#buttons button:hover {
  background: #73c04a;
  cursor: pointer;
  border: 1px solid #fff;
}
